@page
@model Ukol_init_3.Pages.MyProfileModel
@{
}

<p><b>@Model.MyUser.FirstName @Model.MyUser.LastName</b></p>
<p>@Model.MyUser.Email</p>

<br />
<h2>Moje komentáře</h2>
<br />
<table class="table-bordered table">
    
    @foreach (var c in Model.Comments)
    {
    
        <tr>
            <td>
                <table class="table-bordered table">
                    <tr>
                        <th colspan="3">@c.Thread.Name</th>
                    </tr>
                    <tr>
                        <td colspan="3">@c.Message</td>
                       </tr>
                       <tr>
                        <td><a asp-page = "ThreadDetail" asp-route-threadid = "@c.ThreadId" class = "btn btn-primary">Zobrazit</a></td>
                        <td><a asp-page = "EditComment" asp-route-id = "@c.Id" class = "btn btn-primary">Upravit</a></td>
                        <td><a asp-page = "CommDelete" asp-route-id = "@c.Id" class = "btn btn-danger">Smazat</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    
    }
</table>
<br />
<h2>Moje vlákna</h2>
<br />
<table class="table-bordered table">
    
    @foreach (var c in Model.Threads)
    {
    
        <tr>
            <td>
                <table class="table-bordered table">
                    <tr>
                        <th colspan="3">@c.Name</th>
                    </tr>
                       <tr>
                        <td><a asp-page = "ThreadDetail" asp-route-threadid = "@c.Id" class = "btn btn-primary">Zobrazit</a></td>
                        <td><a asp-page = "EditThr" asp-route-id = "@c.Id" class = "btn btn-primary">Upravit</a></td>
                        <td><a asp-page = "DelThr" asp-route-id = "@c.Id" class = "btn btn-danger">Smazat</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    
    }
</table>