@page
@model IdentitySetupTest5.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<p>
    <a asp-page="Create" class = "btn btn-success">Přidat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeCup[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeCup[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeCup[0].MachineNo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CoffeeCup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineNo)
            </td>
        </tr>
}
    </tbody>
</table>
