@page
@model Ukol_init_3.Pages.Admin.IndexCommModel

<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Thread)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thread.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Upravit</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
